<html>
  <hread>
    <title>home page</title>
  </hread>
  <body>
    <h1>Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ab nobis nostrum animi suscipit molestias magni amet deleniti id illum iste ut dolor dolorem mollitia, labore neque odio temporibus laudantium!</p>
    <p>Paragraph changed</p>
<p>Conflict by arathi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quidem perferendis dolore atque odio, illum ullam officia maiores dignissimos amet pariatur quam quia et necessitatibus similique ipsam voluptatem doloremque sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatibus voluptatum tenetur libero dolorem sed facilis recusandae repellat laudantium. Molestiae, cupiditate? Nulla neque adipisci cupiditate illo aperiam, beatae dolor error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea suscipit odio rem nostrum placeat eius, est exercitationem voluptas velit vitae? Ipsam laborum alias eum reiciendis at distinctio molestias ab explicabo.</p>    <p>Paragraph changed</p>
    <form
      action="/login1/"
      method="Post"
      style="text-align: center; border: 2px solid green"
    >
      {% csrf_token %}
      <h1>log in</h1>
      <label>username</label>
      <input type="text" name="un" size="20" />
      <br /><br />
      <label>password</label>
      <input type="password" name="ps" size="20" />
      <br /><br /><br />
      <input type="submit" value="login" />
      <input type="reset" value="clear" />
      <br /><br /><br />
      <a href="/new_user/">new user</a>
    </form>
  </body>
</html>
